# ***Assignment SQL Course***

Author: **Emmanuel Amador Maldonado**

In [2]:
import sqlite3

## Connecting to a Database called Assignment

In [3]:
con=sqlite3.connect("Assignment.db")
cursor=con.cursor()

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///Assignment.db

## ***Exercise 1: Using Joins***

#### **Problem 1**: Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [6]:
%%sql
SELECT school.name_of_school, socio.community_area_name, school.average_student_attendance
FROM CENSUS_DATA socio JOIN CHICAGO_PUBLIC_SCHOOLS school
ON socio.community_area_number = school.community_area_number
WHERE hardship_index = 98;

 * sqlite:///Assignment.db
Done.

[('George Washington Carver Military Academy High School', 'Riverdale', '91.60%'),
 ('George Washington Carver Primary School', 'Riverdale', '90.90%'),
 ('Ira F Aldridge Elementary School', 'Riverdale', '92.90%'),
 ('William E B Dubois Elementary School', 'Riverdale', '93.30%')]

#### **Problem 2**: Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [7]:
%%sql
SELECT c.case_number, c.primary_type, s.community_area_name, c.location_description 
FROM CHICAGO_CRIME_DATA c INNER JOIN CENSUS_DATA s
ON c.community_area_number = s.community_area_number
WHERE UPPER(location_description) LIKE UPPER("%school%")

 * sqlite:///Assignment.db
Done.

[('HL353697', 'BATTERY', 'South Shore', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HL725506', 'BATTERY', 'Lincoln Square', 'SCHOOL, PUBLIC, BUILDING'),
 ('HP716225', 'BATTERY', 'Douglas', 'SCHOOL, PUBLIC, BUILDING'),
 ('HH639427', 'BATTERY', 'Austin', 'SCHOOL, PUBLIC, BUILDING'),
 ('JA460432', 'BATTERY', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HK577020', 'NARCOTICS', 'Rogers Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', 'NARCOTICS', 'Brighton Park', 'SCHOOL, PUBLIC, BUILDING'),
 ('HT315369', 'ASSAULT', 'East Garfield Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS')]

## ***Exercise 2: Creating a VIEW***

For privacy reasons, you have been asked to create a view that enables users to select just the school name and the icon fields from the CHICAGO_PUBLIC_SCHOOLS table. By providing a view, you can ensure that users cannot see the actual scores given to a school, just the icon associated with their score. You should define new names for the view columns to obscure the use of scores and icons in the original table.

#### **Question 1**: Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

In [22]:
%%sql
CREATE VIEW VIEW_Q1 (
    School_Name, Safety_Rating,Family_Rating, Environment_Rating, Instruction_Rating, Leaders_Rating, Teachers_Rating
)
AS SELECT name_of_school, safety_icon,family_involvement_icon,environment_icon,instruction_icon,leaders_icon,teachers_icon 
FROM CHICAGO_PUBLIC_SCHOOLS

 * sqlite:///Assignment.db
Done.

[]

In [20]:
%sql DROP VIEW VIEW_Q1

 * sqlite:///Assignment.db
Done.

[]

In [26]:
%sql SELECT * FROM VIEW_Q1 LIMIT 2

 * sqlite:///Assignment.db
Done.

[('Abraham Lincoln Elementary School', 'Very Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Strong'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', 'Strong', 'Strong', 'Very Strong', 'Weak', 'Strong')]

In [27]:
%sql SELECT school_name, leaders_rating FROM VIEW_Q1 LIMIT 5;

 * sqlite:///Assignment.db
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

## **Exercise 3. Creating a Stored Procedure**

The icon fields are calculated based on the value in the corresponding score field. You need to make sure that when a score field is updated, the icon field is updated too. To do this, you will write a stored procedure that receives the school id and a leaders score as input parameters, calculates the icon setting and updates the fields appropriately.

#### **Question 1**: Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don’t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.