# ***Assignment SQL Course***

Author: **Emmanuel Amador Maldonado**

In [2]:
import pandas as pd
import numpy as np
import sqlite3

## Connecting to a Database called Assignment

In [3]:
con=sqlite3.connect("Assignment.db")
cursor=con.cursor()

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///Assignment.db

## Downloading the datasets provided by the Chicago Data Portal

### ***Chicago Socioeconomic Indicators***


This [dataset](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2023-01-01) contains a selection of six socioeconomic indicators of public health significance and a hardship index, by Chicago community area, for the years 2008 â€“ 2012.

In [6]:
socioeco=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
socioeco.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

### ***Chicago Crime Data***

This [dataset](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2023-01-01) reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

In [7]:
crime=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
crime.head(3)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"

### ***Chicago Public Schools***

This [dataset](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2023-01-01) reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

In [8]:
pub_schools=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
pub_schools.head()

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

## Loading the tables into the DB

In [9]:
socioeco.to_sql("CENSUS_DATA",con,if_exists="replace",index=False)
crime.to_sql("CHICAGO_CRIME_DATA",con,if_exists="replace",index=False)
pub_schools.to_sql("CHICAGO_PUBLIC_SCHOOLS",con,if_exists="replace",index=False)

566

## ***Solving problem queries***

#### **Problem 1**: Find the total number of crimes recorded in the CRIME table.

In [10]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * sqlite:///Assignment.db
Done.

[(533,)]

#### **Problem 2**: List community areas with per capita income less than 11000.

In [11]:
%%sql
SELECT Community_area_number,Community_area_name FROM CENSUS_DATA
WHERE per_capita_income < 11000;

 * sqlite:///Assignment.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

#### **Problem 3**: List all case numbers for crimes involving minors?

In [12]:
%%sql 
SELECT Case_Number, description FROM CHICAGO_CRIME_DATA
WHERE DESCRIPTION LIKE "%minor%"

 * sqlite:///Assignment.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

In [13]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB

In [14]:
for ind,desc in enumerate(crime.DESCRIPTION):
    if "minor" in desc.lower():
        print(f"Found. Case number: {crime.CASE_NUMBER[ind]}. Description: {desc}")

Found. Case number: HL266884. Description: SELL/GIVE/DEL LIQUOR TO MINOR
Found. Case number: HK238408. Description: ILLEGAL CONSUMPTION BY MINOR

#### **Problem 4**: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [15]:
%%sql
SELECT CASE_NUMBER, DESCRIPTION FROM CHICAGO_CRIME_DATA
WHERE (DESCRIPTION LIKE UPPER("%child%")) AND (primary_type LIKE"%KIDNAPPING%")

 * sqlite:///Assignment.db
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER')]

#### **PROBLEM 5**: What kind of crimes were recorded at schools?

In [16]:
%%sql
SELECT PRIMARY_TYPE AS KIND_OF_CRIMES, LOCATION_DESCRIPTION AS LOCATION FROM CHICAGO_CRIME_DATA
WHERE UPPER(LOCATION_DESCRIPTION) LIKE UPPER("%School%")
GROUP BY KIND_OF_CRIMES;

 * sqlite:///Assignment.db
Done.

[('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING')]

#### **PROBLEM 6**: List the average safety score for all types of schools.

In [17]:
%%sql
SELECT "Elementary, Middle, or High School" AS TYPE_SCHOOL, AVG(Safety_Score) AS "AVG SAFETY SCORE" FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * sqlite:///Assignment.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

#### **PROBLEM 7**: List 5 community areas with highest % of households below poverty line.

In [18]:
%%sql 

SELECT community_area_name,PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA 
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5

 * sqlite:///Assignment.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

#### **PROBLEM 8**: Which community area(number) is most crime prone?

In [19]:
%%sql
SELECT Community_Area_Number FROM CHICAGO_CRIME_DATA
GROUP BY Community_Area_Number
ORDER BY COUNT(Community_Area_Number) DESC
LIMIT 1;

 * sqlite:///Assignment.db
Done.

[(25.0,)]

#### **PROBLEM 9**: Use a sub-query to find the name of the community area with highest hardship index.

In [20]:
%%sql
SELECT Community_Area_Name, Hardship_Index FROM CENSUS_DATA
WHERE Hardship_Index = (SELECT MAX(Hardship_Index) FROM CENSUS_DATA)

 * sqlite:///Assignment.db
Done.

[('Riverdale', 98.0)]

#### **PROBLEM 10**: Use a sub-query to determine the Community Area Name with most number of crimes?

In [21]:
%%sql
SELECT Community_Area_Name FROM CENSUS_DATA 
WHERE Community_Area_Number = (SELECT Community_Area_Number FROM CHICAGO_CRIME_DATA
                               GROUP BY Community_Area_Number
                               ORDER BY COUNT(Community_Area_Number) DESC
                               LIMIT 1)

 * sqlite:///Assignment.db
Done.

[('Austin',)]

## HONOR JOIN QUIZ

In [22]:
socioeco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   COMMUNITY_AREA_NUMBER                         77 non-null     float64
 1   COMMUNITY_AREA_NAME                           78 non-null     object
 2   PERCENT_OF_HOUSING_CROWDED                    78 non-null     float64
 3   PERCENT_HOUSEHOLDS_BELOW_POVERTY              78 non-null     float64
 4   PERCENT_AGED_16__UNEMPLOYED                   78 non-null     float64
 5   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  78 non-null     float64
 6   PERCENT_AGED_UNDER_18_OR_OVER_64              78 non-null     float64
 7   PER_CAPITA_INCOME                             78 non-null     int64
 8   HARDSHIP_INDEX                                77 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.6+ KB

In [23]:
pub_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   School_ID                                         566 non-null    int64
 1   NAME_OF_SCHOOL                                    566 non-null    object
 2   Elementary, Middle, or High School                566 non-null    object
 3   Street_Address                                    566 non-null    object
 4   City                                              566 non-null    object
 5   State                                             566 non-null    object
 6   ZIP_Code                                          566 non-null    int64
 7   Phone_Number                                      566 non-null    object
 8   Link                                              565 non-null    object
 9   Network_Manager                                   566 non-null    object
 10  Collaborative_Name                                566 non-null    object
 11  Adequate_Yearly_Progress_Made_                    566 non-null    object
 12  Track_Schedule                                    566 non-null    object
 13  CPS_Performance_Policy_Status                     566 non-null    object
 14  CPS_Performance_Policy_Level                      566 non-null    object
 15  HEALTHY_SCHOOL_CERTIFIED                          566 non-null    object
 16  Safety_Icon                                       566 non-null    object
 17  SAFETY_SCORE                                      513 non-null    float64
 18  Family_Involvement_Icon                           566 non-null    object
 19  Family_Involvement_Score                          566 non-null    object
 20  Environment_Icon                                  566 non-null    object
 21  Environment_Score                                 513 non-null    float64
 22  Instruction_Icon                                  566 non-null    object
 23  Instruction_Score                                 513 non-null    float64
 24  Leaders_Icon                                      566 non-null    object
 25  Leaders_Score                                     566 non-null    object
 26  Teachers_Icon                                     566 non-null    object
 27  Teachers_Score                                    566 non-null    object
 28  Parent_Engagement_Icon                            566 non-null    object
 29  Parent_Engagement_Score                           566 non-null    object
 30  Parent_Environment_Icon                           566 non-null    object
 31  Parent_Environment_Score                          566 non-null    object
 32  AVERAGE_STUDENT_ATTENDANCE                        565 non-null    object
 33  Rate_of_Misconducts__per_100_students_            566 non-null    float64
 34  Average_Teacher_Attendance                        566 non-null    object
 35  Individualized_Education_Program_Compliance_Rate  566 non-null    object
 36  Pk_2_Literacy__                                   566 non-null    object
 37  Pk_2_Math__                                       566 non-null    object
 38  Gr3_5_Grade_Level_Math__                          566 non-null    object
 39  Gr3_5_Grade_Level_Read__                          566 non-null    object
 40  Gr3_5_Keep_Pace_Read__                            566 non-null    object
 41  Gr3_5_Keep_Pace_Math__                            566 non-null    object
 42  Gr6_8_Grade_Level_Math__                          566 non-null    object
 43  Gr6_8_Grade_Level_Read__                          566 non-null    object
 44  Gr6_8_Keep_Pace_Math_                             566 non-null    object
 45  Gr6_8_Keep_Pace_Read__                            566 non-null    object
 46  Gr_8_Explore_Math__                               566 non-null    object
 47  Gr_8_Explore_Read__                               566 non-null    object
 48  ISAT_Exceeding_Math__                             476 non-null    float64
 49  ISAT_Exceeding_Reading__                          476 non-null    float64
 50  ISAT_Value_Add_Math                               468 non-null    float64
 51  ISAT_Value_Add_Read                               468 non-null    float64
 52  ISAT_Value_Add_Color_Math                         566 non-null    object
 53  ISAT_Value_Add_Color_Read                         566 non-null    object
 54  Students_Taking__Algebra__                        566 non-null    object
 55  Students_Passing__Algebra__                       566 non-null    object
 56  9th Grade EXPLORE (2009)                          566 non-null    object
 57  9th Grade EXPLORE (2010)                          566 non-null    object
 58  10th Grade PLAN (2009)                            566 non-null    object
 59  10th Grade PLAN (2010)                            566 non-null    object
 60  Net_Change_EXPLORE_and_PLAN                       566 non-null    object
 61  11th Grade Average ACT (2011)                     566 non-null    object
 62  Net_Change_PLAN_and_ACT                           566 non-null    object
 63  College_Eligibility__                             566 non-null    object
 64  Graduation_Rate__                                 566 non-null    object
 65  College_Enrollment_Rate__                         566 non-null    object
 66  COLLEGE_ENROLLMENT                                566 non-null    int64
 67  General_Services_Route                            566 non-null    int64
 68  Freshman_on_Track_Rate__                          566 non-null    object
 69  X_COORDINATE                                      566 non-null    float64
 70  Y_COORDINATE                                      566 non-null    float64
 71  Latitude                                          566 non-null    float64
 72  Longitude                                         566 non-null    float64
 73  COMMUNITY_AREA_NUMBER                             566 non-null    int64
 74  COMMUNITY_AREA_NAME                               566 non-null    object
 75  Ward                                              566 non-null    int64
 76  Police_District                                   566 non-null    int64
 77  Location                                          566 non-null    object
dtypes: float64(12), int64(7), object(59)
memory usage: 345.0+ KB

In [24]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     533 non-null    int64
 1   CASE_NUMBER            533 non-null    object
 2   DATE                   533 non-null    object
 3   BLOCK                  533 non-null    object
 4   IUCR                   533 non-null    object
 5   PRIMARY_TYPE           533 non-null    object
 6   DESCRIPTION            533 non-null    object
 7   LOCATION_DESCRIPTION   533 non-null    object
 8   ARREST                 533 non-null    bool
 9   DOMESTIC               533 non-null    bool
 10  BEAT                   533 non-null    int64
 11  DISTRICT               533 non-null    int64
 12  WARD                   490 non-null    float64
 13  COMMUNITY_AREA_NUMBER  490 non-null    float64
 14  FBICODE                533 non-null    object
 15  X_COORDINATE           529 non-null    float64
 16  Y_COORDINATE           529 non-null    float64
 17  YEAR                   533 non-null    int64
 18  LATITUDE               529 non-null    float64
 19  LONGITUDE              529 non-null    float64
 20  LOCATION               529 non-null    object
dtypes: bool(2), float64(6), int64(4), object(9)
memory usage: 80.3+ KB

##### **Problem 1**. List the case number, type of crime and community area for all crimes in community area number 18

In [30]:
%%sql 
SELECT c.case_number,c.primary_type AS Type_of_crime, s.community_area_number 
FROM CHICAGO_CRIME_DATA c INNER JOIN CENSUS_DATA s
ON s.community_area_number = c.community_area_number
WHERE s.community_area_number=18

 * sqlite:///Assignment.db
Done.

[('JA560123', 'CRIMINAL DAMAGE', 18.0), ('JA107722', 'OTHER OFFENSE', 18.0)]

##### **Problem 2**. List all crimes that took place at a school. Include case number, crime type and community name.

In [32]:
%%sql

SELECT c.case_number, c.primary_type, s.community_area_name, c.location_description 
FROM CHICAGO_CRIME_DATA c INNER JOIN CENSUS_DATA s
ON c.community_area_number = s.community_area_number
WHERE UPPER(location_description) LIKE UPPER("%school%")

 * sqlite:///Assignment.db
Done.

[('HL353697', 'BATTERY', 'South Shore', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HL725506', 'BATTERY', 'Lincoln Square', 'SCHOOL, PUBLIC, BUILDING'),
 ('HP716225', 'BATTERY', 'Douglas', 'SCHOOL, PUBLIC, BUILDING'),
 ('HH639427', 'BATTERY', 'Austin', 'SCHOOL, PUBLIC, BUILDING'),
 ('JA460432', 'BATTERY', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HK577020', 'NARCOTICS', 'Rogers Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', 'NARCOTICS', 'Brighton Park', 'SCHOOL, PUBLIC, BUILDING'),
 ('HT315369', 'ASSAULT', 'East Garfield Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS')]

##### **Problem 3**. For the communities of Oakland, Armour Square, Edgewater and CHICAGO list the associated community_area_numbers and the case_numbers.

In [35]:
%%sql
SELECT s.community_area_number, c.case_number
FROM CHICAGO_CRIME_DATA c INNER JOIN CENSUS_DATA s
ON s.community_area_number = c.community_area_number
WHERE UPPER(s.community_area_name) IN ("OAKLAND","ARMOUR SQUARE","EDGEWATER","CHICAGO")

 * sqlite:///Assignment.db
Done.

[(77.0, 'HM392612'), (77.0, 'HV537004')]